tr.calendar-row th {
    padding: 15px;
    background: #222;
    color: white;
    font-family:$font-sans-1;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}

.calendar-row td {
    height: 150px;
    border: 1px solid #ddd;
}

td.calendar-day-np {
    background: #efefef;
}

.day-number{
	padding:10px;
	font-family:$font-sans-1;
}

div#sc_calendar {
    width: 100%;
    border: 2px solid #222;
    table{
    	width:100%;
    }
}

.sc_day_div a {
    font-family: $font-sans-2;
    display: table-caption;
    padding: 5px;
}

div#sc_event_nav_wrap {
    margin-bottom: 15vh;
}

form#sc_event_nav_next {
    float: right;
}

form#sc_event_nav_prev {
    float: left;
}

input.sc_calendar_submit {
    background: white;
    border: 2px solid #222;
    padding: 5px 15px;
    &:hover{
    background:#222;
    color:white;
    }
}

h2#sc_calendar_title {
    text-align: center;
    font-family: $font-sans-2;
    font-weight: 600;
}

select {
    background-color: white;
    border-radius: 0px;
    border: 0px;
    padding: 5px 15px;
}