.article-head{
  text-transform: uppercase;
  font-family: $font-sans-1;
}

.article--body{
  padding: 15px 25px;
  ul{
    margin: 25px 0;
    padding:15px 25px;
    list-style-type: circle;
    li {
    font-size: 2rem;
    font-style: italic;
    font-family: $font-serif-1;
    line-height: 4.2rem;
    margin-bottom:15px;
    }
  }
}

.byline{
  font-family: $font-sans-1;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.75rem;
  color: #222;
}

.single .byline{
  position: absolute;
  bottom: 1.5vh;
  text-align: center;
  background: white;
  padding: 10px 15px;
}

.single > .col-md-12 h1{
  background: rgba(0, 0, 0, 0.84);
  font-family: $font-serif-1;
  font-weight:600;
  font-size: 36px;
  color:white;
  padding:25px 15px;
  position: absolute;
  bottom: 15vh;
  text-align: center;
}

.pager-nav{
  margin: 5vh 0;
  display: inline-block; 
  a {
    padding: 15px;
    background: black;
    color: white;
    font-family: $font-sans-1;
    margin-top: 15px;
  } 
}

.read-more a {
  width: 150px;
  background: white;
  border: 2px solid #222;
  display: block;
  color: #222;
  padding: 5px 15px;
  font-family: $font-sans-1;
  &:hover{
    text-decoration: none;
    background: #222;
    color: white;
    transition: .75s ease-in-out;
  }
}

.read-more p {
    margin: 0;
    font-family: $font-sans-1;
    text-transform: uppercase;
    font-size: 1rem;
}

.read-more--button h2 {
    width: 100%;
    background: #222;
    font-family: $font-sans-2;
    padding: 25px 15px;
    color: white;
}

.read-more--button h2 a{
      color:white;
}