    /* CONTENT 1.1 - SUBNAV */

    .subnav{
            width: 100%;
            margin:20px 0;
        ul{
            padding: 0;
            width: 100%;
            display: table;
        }
        li{
            list-style-type: none;
            display: table-cell;
                a{
                text-transform: uppercase;
                font-weight: 600;
                font-size: large;
                font-family: $font-sans-2;
                width: 100%;
                display: block;
                padding: 15px;
                line-height: 35px;
                color: $ui-white;
                border-bottom:4px solid transparent;
                &:hover{
                    border-bottom:4px solid #222;
                }
            }
        }
    }

    .subnav li.tab a{
        color:dodgerblue;
        border-bottom: 4px solid dodgerblue;
        margin-right: 20px;
    }

    .cat-item-2 a {
    background: coral;
    &:hover{ background-color: darken(coral, 9.5%);}
    }
    .cat-item-3 a {
        background: turquoise;
        &:hover{ background-color: darken(turquoise, 9.5%);}

    }
    .cat-item-4 a {
        background: dodgerblue;
        &:hover{ background-color: darken(dodgerblue, 9.5%);}

    }
    .cat-item-5 a {
        background: cadetblue;
        &:hover{ background-color: darken(cadetblue, 9.5%);}
    }

    .story-item a {
        background: darkslateblue;
        &:hover{ background-color: darken(darkslateblue, 9.5%);}
    }

@media (max-width: 991px) {
    .subnav{
    }
}